In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl

In [10]:
path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/module_5_auto.csv'

In [11]:
df= pd.read_csv(path)

In [12]:
df.head()

,Unnamed: 0,Unnamed: 0.1,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,0,0,3,122,alfa-romero,std,two,convertible,rwd,front,...,9.0,111.0,5000.0,21,27,13495.0,11.190476,Medium,0,1
1,1,1,3,122,alfa-romero,std,two,convertible,rwd,front,...,9.0,111.0,5000.0,21,27,16500.0,11.190476,Medium,0,1
2,2,2,1,122,alfa-romero,std,two,hatchback,rwd,front,...,9.0,154.0,5000.0,19,26,16500.0,12.368421,Medium,0,1
3,3,3,2,164,audi,std,four,sedan,fwd,front,...,10.0,102.0,5500.0,24,30,13950.0,9.791667,Medium,0,1
4,4,4,2,164,audi,std,four,sedan,4wd,front,...,8.0,115.0,5500.0,18,22,17450.0,13.055556,Medium,0,1

In [13]:
print("The first 5 rows of the dataframe") 
df.head(5)

The first 5 rows of the dataframe

,Unnamed: 0,Unnamed: 0.1,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,0,0,3,122,alfa-romero,std,two,convertible,rwd,front,...,9.0,111.0,5000.0,21,27,13495.0,11.190476,Medium,0,1
1,1,1,3,122,alfa-romero,std,two,convertible,rwd,front,...,9.0,111.0,5000.0,21,27,16500.0,11.190476,Medium,0,1
2,2,2,1,122,alfa-romero,std,two,hatchback,rwd,front,...,9.0,154.0,5000.0,19,26,16500.0,12.368421,Medium,0,1
3,3,3,2,164,audi,std,four,sedan,fwd,front,...,10.0,102.0,5500.0,24,30,13950.0,9.791667,Medium,0,1
4,4,4,2,164,audi,std,four,sedan,4wd,front,...,8.0,115.0,5500.0,18,22,17450.0,13.055556,Medium,0,1

In [14]:
print("The last 10 rows of the dataframe\n")
df.tail(10)

The last 10 rows of the dataframe

,Unnamed: 0,Unnamed: 0.1,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
191,191,191,-1,74,volvo,std,four,wagon,rwd,front,...,9.5,114.0,5400.0,23,28,13415.0,10.217391,Medium,0,1
192,192,192,-2,103,volvo,std,four,sedan,rwd,front,...,9.5,114.0,5400.0,24,28,15985.0,9.791667,Medium,0,1
193,193,193,-1,74,volvo,std,four,wagon,rwd,front,...,9.5,114.0,5400.0,24,28,16515.0,9.791667,Medium,0,1
194,194,194,-2,103,volvo,turbo,four,sedan,rwd,front,...,7.5,162.0,5100.0,17,22,18420.0,13.823529,High,0,1
195,195,195,-1,74,volvo,turbo,four,wagon,rwd,front,...,7.5,162.0,5100.0,17,22,18950.0,13.823529,High,0,1
196,196,196,-1,95,volvo,std,four,sedan,rwd,front,...,9.5,114.0,5400.0,23,28,16845.0,10.217391,Medium,0,1
197,197,197,-1,95,volvo,turbo,four,sedan,rwd,front,...,8.7,160.0,5300.0,19,25,19045.0,12.368421,High,0,1
198,198,198,-1,95,volvo,std,four,sedan,rwd,front,...,8.8,134.0,5500.0,18,23,21485.0,13.055556,Medium,0,1
199,199,199,-1,95,volvo,turbo,four,sedan,rwd,front,...,23.0,106.0,4800.0,26,27,22470.0,9.038462,Medium,1,0
200,200,200,-1,95,volvo,turbo,four,sedan,rwd,front,...,9.5,114.0,5400.0,19,25,22625.0,12.368421,Medium,0,1

In [15]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
print("headers\n", headers)

headers
 ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

In [18]:
df1=df.replace('?',np.NaN)

In [19]:
df=df1.dropna(subset=["price"], axis=0)
df.head(20)

,Unnamed: 0,Unnamed: 0.1,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,0,0,3,122,alfa-romero,std,two,convertible,rwd,front,...,9.0,111.0,5000.0,21,27,13495.0,11.190476,Medium,0,1
1,1,1,3,122,alfa-romero,std,two,convertible,rwd,front,...,9.0,111.0,5000.0,21,27,16500.0,11.190476,Medium,0,1
2,2,2,1,122,alfa-romero,std,two,hatchback,rwd,front,...,9.0,154.0,5000.0,19,26,16500.0,12.368421,Medium,0,1
3,3,3,2,164,audi,std,four,sedan,fwd,front,...,10.0,102.0,5500.0,24,30,13950.0,9.791667,Medium,0,1
4,4,4,2,164,audi,std,four,sedan,4wd,front,...,8.0,115.0,5500.0,18,22,17450.0,13.055556,Medium,0,1
5,5,5,2,122,audi,std,two,sedan,fwd,front,...,8.5,110.0,5500.0,19,25,15250.0,12.368421,Medium,0,1
6,6,6,1,158,audi,std,four,sedan,fwd,front,...,8.5,110.0,5500.0,19,25,17710.0,12.368421,Medium,0,1
7,7,7,1,122,audi,std,four,wagon,fwd,front,...,8.5,110.0,5500.0,19,25,18920.0,12.368421,Medium,0,1
8,8,8,1,158,audi,turbo,four,sedan,fwd,front,...,8.3,140.0,5500.0,17,20,23875.0,13.823529,Medium,0,1
9,9,9,2,192,bmw,std,two,sedan,rwd,front,...,8.8,101.0,5800.0,23,29,16430.0,10.217391,Low,0,1
10,10,10,0,192,bmw,std,four,sedan,rwd,front,...,8.8,101.0,5800.0,23,29,16925.0,10.217391,Low,0,1
11,11,11,0,188,bmw,std,two,sedan,rwd,front,...,9.0,121.0,4250.0,21,28,20970.0,11.190476,Medium,0,1
12,12,12,0,188,bmw,std,four,sedan,rwd,front,...,9.0,121.0,4250.0,21,28,21105.0,11.190476,Medium,0,1
13,13,13,1,122,bmw,std,four,sedan,rwd,front,...,9.0,121.0,4250.0,20,25,24565.0,11.750000,Medium,0,1
14,14,14,0,122,bmw,std,four,sedan,rwd,front,...,8.0,182.0,5400.0,16,22,30760.0,14.687500,High,0,1
15,15,15,0,122,bmw,std,two,sedan,rwd,front,...,8.0,182.0,5400.0,16,22,41315.0,14.687500,High,0,1
16,16,16,0,122,bmw,std,four,sedan,rwd,front,...,8.0,182.0,5400.0,15,20,36880.0,15.666667,High,0,1
17,17,17,2,121,chevrolet,std,two,hatchback,fwd,front,...,9.5,48.0,5100.0,47,53,5151.0,5.000000,Low,0,1
18,18,18,1,98,chevrolet,std,two,hatchback,fwd,front,...,9.6,70.0,5400.0,38,43,6295.0,6.184211,Low,0,1
19,19,19,0,81,chevrolet,std,four,sedan,fwd,front,...,9.6,70.0,5400.0,38,43,6575.0,6.184211,Low,0,1

In [20]:
print(df.columns)

Index(['Unnamed: 0', 'Unnamed: 0.1', 'symboling', 'normalized-losses', 'make',
       'aspiration', 'num-of-doors', 'body-style', 'drive-wheels',
       'engine-location', 'wheel-base', 'length', 'width', 'height',
       'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size',
       'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower',
       'peak-rpm', 'city-mpg', 'highway-mpg', 'price', 'city-L/100km',
       'horsepower-binned', 'diesel', 'gas'],
      dtype='object')

In [21]:
df.to_csv("automobile.csv", index=False)

In [22]:
df.dtypes

Unnamed: 0             int64
Unnamed: 0.1           int64
symboling              int64
normalized-losses      int64
make                  object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
city-L/100km         float64
horsepower-binned     object
diesel                 int64
gas                    int64
dtype: object

In [23]:
print(df.dtypes)

Unnamed: 0             int64
Unnamed: 0.1           int64
symboling              int64
normalized-losses      int64
make                  object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
city-L/100km         float64
horsepower-binned     object
diesel                 int64
gas                    int64
dtype: object

In [24]:
df.describe()

,Unnamed: 0,Unnamed: 0.1,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,...,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,diesel,gas
count,201.000000,201.000000,201.000000,201.00000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,...,197.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000
mean,100.000000,100.000000,0.840796,122.00000,98.797015,0.837102,0.915126,53.766667,2555.666667,126.875622,...,3.256904,10.164279,103.405534,5117.665368,25.179104,30.686567,13207.129353,9.944145,0.099502,0.900498
std,58.167861,58.167861,1.254802,31.99625,6.066366,0.059213,0.029187,2.447822,517.296727,41.546834,...,0.319256,4.004965,37.365700,478.113805,6.423220,6.815150,7947.066342,2.534599,0.300083,0.300083
min,0.000000,0.000000,-2.000000,65.00000,86.600000,0.678039,0.837500,47.800000,1488.000000,61.000000,...,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000,4.795918,0.000000,0.000000
25%,50.000000,50.000000,0.000000,101.00000,94.500000,0.801538,0.890278,52.000000,2169.000000,98.000000,...,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7775.000000,7.833333,0.000000,1.000000
50%,100.000000,100.000000,1.000000,122.00000,97.000000,0.832292,0.909722,54.100000,2414.000000,120.000000,...,3.290000,9.000000,95.000000,5125.369458,24.000000,30.000000,10295.000000,9.791667,0.000000,1.000000
75%,150.000000,150.000000,2.000000,137.00000,102.400000,0.881788,0.925000,55.500000,2926.000000,141.000000,...,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000,12.368421,0.000000,1.000000
max,200.000000,200.000000,3.000000,256.00000,120.900000,1.000000,1.000000,59.800000,4066.000000,326.000000,...,4.170000,23.000000,262.000000,6600.000000,49.000000,54.000000,45400.000000,18.076923,1.000000,1.000000

In [25]:
df.describe(include = "all")

,Unnamed: 0,Unnamed: 0.1,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
count,201.000000,201.000000,201.000000,201.00000,201,201,201,201,201,201,...,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,200,201.000000,201.000000
unique,NaN,NaN,NaN,NaN,22,2,2,5,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN
top,NaN,NaN,NaN,NaN,toyota,std,four,sedan,fwd,front,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low,NaN,NaN
freq,NaN,NaN,NaN,NaN,32,165,115,94,118,198,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115,NaN,NaN
mean,100.000000,100.000000,0.840796,122.00000,NaN,NaN,NaN,NaN,NaN,NaN,...,10.164279,103.405534,5117.665368,25.179104,30.686567,13207.129353,9.944145,NaN,0.099502,0.900498
std,58.167861,58.167861,1.254802,31.99625,NaN,NaN,NaN,NaN,NaN,NaN,...,4.004965,37.365700,478.113805,6.423220,6.815150,7947.066342,2.534599,NaN,0.300083,0.300083
min,0.000000,0.000000,-2.000000,65.00000,NaN,NaN,NaN,NaN,NaN,NaN,...,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000,4.795918,NaN,0.000000,0.000000
25%,50.000000,50.000000,0.000000,101.00000,NaN,NaN,NaN,NaN,NaN,NaN,...,8.600000,70.000000,4800.000000,19.000000,25.000000,7775.000000,7.833333,NaN,0.000000,1.000000
50%,100.000000,100.000000,1.000000,122.00000,NaN,NaN,NaN,NaN,NaN,NaN,...,9.000000,95.000000,5125.369458,24.000000,30.000000,10295.000000,9.791667,NaN,0.000000,1.000000
75%,150.000000,150.000000,2.000000,137.00000,NaN,NaN,NaN,NaN,NaN,NaN,...,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000,12.368421,NaN,0.000000,1.000000
max,200.000000,200.000000,3.000000,256.00000,NaN,NaN,NaN,NaN,NaN,NaN,...,23.000000,262.000000,6600.000000,49.000000,54.000000,45400.000000,18.076923,NaN,1.000000,1.000000

In [26]:
df[['length', 'compression-ratio']].describe()

           length  compression-ratio
count  201.000000         201.000000
mean     0.837102          10.164279
std      0.059213           4.004965
min      0.678039           7.000000
25%      0.801538           8.600000
50%      0.832292           9.000000
75%      0.881788           9.400000
max      1.000000          23.000000

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201 entries, 0 to 200
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         201 non-null    int64
 1   Unnamed: 0.1       201 non-null    int64
 2   symboling          201 non-null    int64
 3   normalized-losses  201 non-null    int64
 4   make               201 non-null    object
 5   aspiration         201 non-null    object
 6   num-of-doors       201 non-null    object
 7   body-style         201 non-null    object
 8   drive-wheels       201 non-null    object
 9   engine-location    201 non-null    object
 10  wheel-base         201 non-null    float64
 11  length             201 non-null    float64
 12  width              201 non-null    float64
 13  height             201 non-null    float64
 14  curb-weight        201 non-null    int64
 15  engine-type        201 non-null    object
 16  num-of-cylinders   201 non-null    object
 17  engine-size        201 non-null    int64
 18  fuel-system        201 non-null    object
 19  bore               201 non-null    float64
 20  stroke             197 non-null    float64
 21  compression-ratio  201 non-null    float64
 22  horsepower         201 non-null    float64
 23  peak-rpm           201 non-null    float64
 24  city-mpg           201 non-null    int64
 25  highway-mpg        201 non-null    int64
 26  price              201 non-null    float64
 27  city-L/100km       201 non-null    float64
 28  horsepower-binned  200 non-null    object
 29  diesel             201 non-null    int64
 30  gas                201 non-null    int64
dtypes: float64(11), int64(10), object(10)
memory usage: 50.2+ KB